<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.3/phpunit.xsd"
  bootstrap="vendor/autoload.php"
  
>
  <testsuites>
    <testsuite name="Maildir Unit Tests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <!--
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="coverage.xml"/>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
  </logging>
  -->
</phpunit>
